{% extends 'base.html' %}

{% block title %} Add an Interaction {% endblock %}

{% block content %}

<h1>Add an Interaction</h1>

<form method="POST">

    {{ form.hidden_tag() }}
    
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field(class_="form-control") }}


            </p>

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}

    {% endfor %}
        <button type="submit" class="btn btn-primary">Add Interaction</button>
</form>

{% endblock %}