{% extends 'base.html' %}

{% block title %} Ask Your Rep {% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-around">
    
      <div class="bg-primary p-2 text-center text-center" style=width:80%>
    <h3>Editing interaction between {{user.first_name}} {{user.last_name}} and {{interaction.representative.full_name}}</h3>
</div>
</div>
</div>

<div class="container">
    <div class="d-flex align-items-center justify-content-around min-vh-100">
  
      <div class="m-3 shadow p-3 mb-5 bg-white rounded" style="width: 50%;">
        

<form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <p class="text-warning">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Change Your Interaction</button>

</form>

      </div>
    </div>
</div>

<div class='bg-secondary'>
    <a href="/user" class="btn btn-info m-4">BACK</a>
  
  </div>

{% endblock %}