{% extends 'base.html' %}

{% block title %} Ask Your Rep {% endblock %}

{% block head_addons%}
{% endblock %}

{% block content %}

<div class="d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <form id="geoform" action="/your-reps">
        <div class="form-group">
          <input type="search" id="search-input" class="form-control-lg" name="search-input" placeholder="What's your address?" />
          <button type="submit">Find Your Reps</button>
  
    </div>
  </div>
    </div>

</div>
</form>

{% endblock %}