{% extends 'base.html' %}

{% block title %} Your Representative's Interactions {% endblock %}

{% block content %}

{% if not rep.interactions %}

  <h2>No one has interacted with this representative yet.</h2>

{% else %}

<div class="container-fluid">
  <div class="row d-flex justify-content-around">
{% for interaction in rep.interactions%}

      <div class="card m-3 shadow">
        <div class="card-header">
          Interaction with {{interaction.representative.full_name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{interaction.topic}}</h5>
          <p class="card-text"><small class="text-muted">{{interaction.interaction_date.strftime('%m / %d / %Y')}}</small></p>
          <p class="card-text">{{interaction.content}}</p>
          <p class="card-text"><small class="text-muted">via: {{interaction.medium}}</small></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endif %}

  {% endblock %}