{% extends 'base.html' %}

{% block title %} Ask Your Rep {% endblock %}

{% block content %}

<h1>Showing representatives for:</h1>
<p>{{address}}</p>

<div class="container">
    <div class="row d-flex justify-content-around">

        {% for rep in reps %}
        <div class="card p-3" style="width: 20rem;">
            <img src="{{rep.photo_url}}" class="card-img-top rounded-circle" alt="{{rep.full_name}}">
            <div class="card-body">
              <h5 class="card-title">{{rep.full_name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{rep.party}}</li>
              <li class="list-group-item">{{rep.chamber |capitalize}}</li>
              <li class="list-group-item">{{rep.district}}</li>
              <li class="list-group-item">{{rep.state |upper}}</li>
              <li class="list-group-item">{{rep.email}}</li>
              <li class="list-group-item">{{rep.sources[0].url}}</li>
            </ul>
            <div>
              {% for office in rep.offices %}
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{office.name}}</li>
                <li class="list-group-item">{{office.phone}}</li>
                <li class="list-group-item">{{office.address}}</li>

              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <p>Signup and keep track of your representatiives</p>
      <form action="/signup">
        <input type="hidden" id="address" name="address" value="{{address}}">
        <button type="submit" class="btn btn-dark">Signup</button>
      </form>
</div>


{% endblock %}