{% extends 'base.html' %}

{% block title %} Ask Your Rep {% endblock %}

{% block content %}
<div class="container">
  <div class="d-flex align-items-center justify-content-around min-vh-100">

    <div class="m-3 shadow p-3 mb-5 bg-white rounded" style="width: 80%;">
      
      <h1 class="display-4">Signup</h1>
      <p class="lead">Signup and keep track of your communications with your representatives.</p>
      
      <form method="POST">
        
        {{ form.hidden_tag() }}
        
        {% for field in form
          if field.widget.input_type != 'hidden' %}
          <p>
            <!-- {{ field.label }} -->
            {{ field(placeholder=field.label.text) }}
            
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
          </p>
          
          {% endfor %}
          
          <button type="submit" class="btn btn-primary">Signup</button>
          
        </form>
      </div>
    </div>
  </div>
    
    
    {% endblock %}