{% extends 'base.html' %}

{% block title %} Ask Your Rep {% endblock %}

{% block content %}

<h1>Showing representatives for:</h1>
<h3>{{user.first_name}} {{user.last_name}}</h3>
<p>{{user.address}}</p>

<div class="container">
  <div class="row d-flex justify-content-around">

    {% for rep in user.representatives %}
      <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="width: 75%;">
        <div class="row">
          <div class="col-2">
            <img src="{{rep.photo_url}}" class="img-thumbnail rounded-circle shadow" alt="{{rep.full_name}}">
          </div>
          <div class="col-10">
            <div class="card-body">
              <h3 class="card-title display-4">{{rep.full_name}}</h3>
              <p class="text-muted text-right">{{rep.party}}</p>
              <p class="h3 card-text">{{rep.district.state |upper}} State - {{rep.district.chamber |capitalize}} House - District {{rep.district.district_num}}</p>
              
            {% if rep.email %}
              <p class="card-text">{{rep.first_name}} can be reached at <a href="mailto:{{rep.email}}"> {{rep.email}} </a></p>
            {% else %}
              <p class="card-text">{{rep.first_name}} doesn't seem to have a registered email address. You may want to contact them personally.</p>
            {% endif %}
              
            {% if rep.websites[0] %}
              <p class="card-text">{{rep.first_name}}'s website(s) can be found at:
                <ul>
                  {% for website in rep.websites %}
                    <li><a href="{{website.url}}" target="_blank">{{website.url}}</a></li>
                  {% endfor %}
                </ul>
            {% else %}
              <p class="card-text">{{rep.first_name}} doesn't seem to have a registered website. You may want to contact them personally.</p>
            {% endif %}
            </div>

          </div>
        </div>
        <div class="row d-flex justify-content-around">

          {% for office in rep.offices %}
          <div class="col-{{12/rep.offices|length}} m-2">
            <p class="h4">{{office.name}}</p>
            {% if office.phone %}
            <p class="card-text">Phone number: <a href="tel:{{office.phone}}"> {{office.phone}}</a></p>
            {% else %}
            <p class="card-text">Phone number: No phone number listed for this office.</p>
            {% endif %}
            {% if office.address %}
            <p class="card-text">Address: {{office.address}}</p>
            {% else %}
            <p class="card-text">Address: No address listed for this office</p>
            {% endif %}
            
          </div>                 
          {% endfor %}
        </div>
        <div class="row justify-content-between">
          <form action="/user/interactions/add" class="col-3">
            <input type="hidden" id="repId" name="repId" value={{rep.id}}>
            <button type="submit" class="btn btn-primary">Interact with this Representative</button>
          </form>
          <a href="/reps/{{rep.id}}/interactions" class="btn btn-secondary float-right col-3">See this representative's interactions</a>

        </div>
      </div>
      {% endfor %}
  </div>
</div>
  
<a href="/user/edit" class="btn btn-primary">EDIT USER INFO</a>
{% endblock %}