{% extends 'base.html' %}

{% block title %} Ask Your Rep {% endblock %}

{% block content %}

<h1>Showing representatives for:</h1>
<h3>{{user.first_name}} {{user.last_name}}</h3>
<p>{{user.address}}</p>

<div class="container">
    <div class="row d-flex justify-content-around">

        {% for rep in user.representatives %}
        <div class="card p-3" style="width: 20rem;">
            <img src="{{rep.photo_url}}" class="card-img-top rounded-circle" alt="{{rep.full_name}}">
            <div class="card-body">
              <h5 class="card-title">{{rep.full_name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{rep.party}}</li>
              <li class="list-group-item">{{rep.district.house |capitalize}}</li>
              <li class="list-group-item">{{rep.district.district_num}}</li>
              <li class="list-group-item">{{rep.district.state |upper}}</li>
              <li class="list-group-item">{{rep.email}}</li>
              <li class="list-group-item">{{rep.website}}</li>
            </ul>
            <div>
              {% for office in rep.offices %}
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{office.name}}</li>
                <li class="list-group-item">{{office.phone}}</li>
                <li class="list-group-item">{{office.address}}</li>

              {% endfor %}
            </div>
            <form action="/user/interactions/add">
              <input type="hidden" id="repId" name="repId" value={{rep.id}}>
              <button type="submit">Interact with this Representative</button>
            </form>
          </div>
        {% endfor %}
      </div>

</div>

<a href="/user/edit" class="btn btn-primary">EDIT USER INFO</a>
{% endblock %}